<mwl-navbar></mwl-navbar>
<router-outlet></router-outlet>




<br>
<br>
<br>
<br>

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>


<div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="#list-item-1">Genie Informatique</a>
    <a class="list-group-item list-group-item-action" href="#list-item-2">Technique de Management</a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">G A </a>
  
</div>








<div class="card" uk-scrollspy-class="uk-animation-slide-top"id="list-item-1" >
    <br>
    <br>
    <h1 class="uk-heading-line uk-text-center"><span>Genie Informatique</span></h1>

    <div class="row">
    
        <div class="col-md-5"> <img src="../../assets/undraw_code_review_l1q9.png" style="width: 115%;" > </div>
        <div class="card-body col-md-7 ">
        
            
    

          
        </div>
    
     
    </div>
    
</div>

    
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>

    

    <div class="card" uk-scrollspy-class="uk-animation-slide-top" id="list-item-2" >
        <h1 class="uk-heading-line uk-text-center"><span>Technique de Management</span></h1>
        <br>
        <br>
        <div class="row">
            <div class="card-body col-md-7 ">
            
    
        
    
              
            </div>

            <div class="col-md-5"> <img src="../../assets/undraw_marketing_v0iu.png" style="width: 115%;" > </div>
         
        
         
        </div>
        
    </div>
    
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    
        
    
    
        <div class="card" class="uk-card uk-card-default uk-card-body" uk-scrollspy-class="uk-animation-slide-top" id="list-item-3"> 
            <h1 class="uk-heading-line uk-text-center"><span>Technique de Management</span></h1>
            <br><br>
            <div class="row">
            
                <div class="col-md-5"> <img src="../../assets/undraw_add_user_ipe3.png" style="width: 115%;" > </div>
                <div class="card-body col-md-7 ">
                
        
            
        
                  
                </div>
            
             
            </div>
            
        </div>











    <!-- <div class="card" class="col-md-3" >
        <div class="row">
            <div > 
                <div class="uk-animation-toggle" tabindex="0">
                        <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up">
                            <p class="uk-text-center">Scale Up</p>
                        </div>
                    </div>
            </div>

        </div>

    </div> -->
  
<!-- <div class="card" style="width: 18rem;">
    <img src="../../assets/calendar_GI_S1 (2).png" style="width: 300px;" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->